/*

HOW TO CREATE A CSS3 DROPDOWN MENU [TUTORIAL]

"How to create a CSS3 Dropdown Menu [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com
http://vladimirkudinov.com

*/
/* Reset */
body {
	margin: 0;
	padding: 0;
}
html {
	margin: 0;
	padding: 0;
}
.menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.menu li {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.menu ul {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.menu {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
/* Menu */
ul.menu {
	margin: 5px 0px 0px 15px;
}
.menu {
	height: 40px;
	width: 820px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.menu li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 40px;
}
/* Links */
.menu li a {
	display: block;
	padding: 0 12px;
	margin: 6px 0px 0px 5px;
	line-height: 28px;
	text-decoration: none;
	border-left: 1px solid #e5e5e5;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #003372;
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.menu li:first-child a {
	border-left: none;
}
.menu li:last-child a {
	border-right: none;
}
.menu li:hover > a {
	color: #e78c18;
}
/* Sub Menu */
.menu ul {
	position: absolute;
	top: 45px;
	left: 0;
	opacity: 0;
	background: #fff;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}
.menu li:hover > ul {
	opacity: 1;
}
.menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}
.menu li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}
.menu ul li a {
	width: 280px;
	padding: 0px 0 4px 8px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #e5e5e5;
}
.menu ul li:last-child a {
	border: none;
}
/* Icons */
.menu a.documents {
	background: url(../img/docs.png) no-repeat 2px bottom;
	width: 24px;
	height: 18px;
	padding-top: 7px;
}
